/*@import url('https://fonts.googleapis.com/css?family=Proza+Libre:500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');
*/

@font-face{
	font-family: "URWDINCond-Demi";

	src: url("./fonts/URWDINCond-Demi.woff") format("woff"), url("./fonts/URWDINCond-Demi.woff2") format("woff2"); /* Modern Browsers */
}

* {
	background-color: #EFEFEF;
}
a {
	color: #CF620B;
}
.links {
	max-width: 600px;
	display: inline-block;
	font-family: 'Roboto';
}
body {
	font-color: #1D1D1D;
	max-width: 600px;
	margin-left: 5%;
	margin-top: 5%
	display: inline-block;
}
.title {
	line-height: .5em;
	font-family: 'URWDINCond-Demi';
	font-size: 40px;
}
.entry {
	text-align: left;
	line-height: 1.5;
	font-family: 'Roboto';
} 